*,
::after,
::before {
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

html {
  line-height: normal;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "Roboto", serif;
}

@media (max-width: 768px) {
  br {
    display: none;
  }
}
.site-header {
  height: 192px;
  display: flex;
  align-items: center;
  background: #eeeff1;
}
@media (max-width: 768px) {
  .site-header {
    height: 64px;
  }
}

section {
  padding: 96px 0;
}
@media (max-width: 768px) {
  section {
    padding: 48px 0;
  }
}
section.background-gray {
  background: #eeeff1;
}
section.background-blue {
  background: #34547a;
}

.site-footer {
  padding: 48px 0;
  color: #ffffff;
  background: #34547a;
}

iframe {
  width: 100%;
  height: 640px;
}
@media (max-width: 768px) {
  iframe {
    height: 256px;
  }
}

button {
  width: 100%;
  height: 56px;
  padding: 0 56px;
  max-width: -moz-max-content;
  max-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  text-decoration: unset;
  text-transform: uppercase;
  color: #ffffff;
  background: #34547a;
}

.container {
  display: flex;
  margin-inline: auto;
  gap: 64px 0;
  flex-direction: column;
  width: min(100% - 64px, 1100px);
}
@media (max-width: 768px) {
  .container {
    gap: 32px;
  }
}

.menu {
  display: flex;
  gap: 16px 40px;
  align-items: center;
}
@media (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu--active {
  top: 0;
  right: 0;
  width: 196px;
  height: 100%;
  display: flex;
  position: fixed;
  padding: 128px 32px;
  color: #ffffff;
  align-items: flex-end;
  flex-direction: column;
  background: #eeeff1;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.16);
}
.menu__item {
  display: block;
  color: #000000;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: ease-in-out 0.16s;
}
.menu__item--active {
  color: #34547a;
  font-weight: 500;
}

.menu-toggle {
  right: 32px;
  padding: 0;
  z-index: 1;
  width: 48px;
  height: 48px;
  display: none;
  position: fixed;
  min-width: 48px;
  min-height: 48px;
  margin-left: auto;
  background: #34547a;
}
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }
}

.headline {
  gap: 48px 0;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .headline {
    gap: 32px 0;
  }
}
.headline--center {
  margin: 0 auto;
  text-align: center;
}
.headline__title {
  font-weight: 500;
  font-size: 32px;
}
.headline__title--large {
  font-size: 48px;
}
@media (max-width: 768px) {
  .headline__title--large {
    font-size: 32px;
  }
}
.headline__textarea {
  max-width: 540px;
  line-height: 1.64;
  color: #727272;
}

.card {
  gap: 0 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.card__panel {
  gap: 8px 0;
  display: flex;
  flex-direction: column;
}
.card__title {
  font-weight: 500;
  font-size: 24px;
}
.card-group {
  gap: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.copyright {
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.copyright__title {
  font-weight: 500;
  font-size: 24px;
}
.copyright__textarea {
  font-size: 14px;
}